# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env

# Large files (не загружаем PDF на GitHub)
raw/*.pdf

# Temporary files
_tmp/
*.tmp

